<table
  style="height: 483px; width: 100%; border-collapse: collapse; border-style: none; margin-left: auto; margin-right: auto;"
  border="0">
  <tbody>
    <tr style="height: 483px;">
      <td style="width: 1.24776%; height: 483px;">
        <br>
      </td>
      <td style="width: 97.7182%; text-align: center; height: 483px;">
        <table
          style="height: 86px; width: 100%; border-collapse: collapse; max-width: 600px; margin-left: auto; margin-right: auto;"
          border="0">
          <tbody>
            <tr style="height: 86px;">
              <td style="width: 16.4879%; text-align: center; vertical-align: middle;">
                <img src="https://share1.cloudhq-mkt3.net/ff3f66d9bd.png" alt="Logo" width="73" height="105">
                <br>
              </td>
              <td
                style="width: 83.5121%; height: 86px; background-color: #335db4; padding: 20px; text-align: left; vertical-align: middle;">
                <span style="font-size: 14pt; color: #ffffff;">
                  <strong>Relatório Despacho</strong>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <span style="font-size: 8pt;">Olá, ordem de despacho enviado por
          <strong><%= user %></strong>.
        </span>
        <br>
        <span style="font-size: 8pt;">Data de Despacho: <%= despacho %></span>
        <br>
        <span style="font-size: 8pt;">Conhecimento: <%= conhecimento %></span>
        <br>
        <span style="font-size: 8pt;">Transportadora: <%= transportadora %></span>
        <br>
        <br>
        <span style="font-size: 8pt;">As seguintes ordens de serviços foram despachadas:</span>
        <br>
        <br>
        <% for(let os of oss) { %>
        <table
          style="height: 34px; width: 100%; border-collapse: collapse; max-width: 600px; margin-left: auto; margin-right: auto;"
          border="0">
          <tbody>
            <tr style="height: 17px; background-color: #bababa;">
              <td style="width: 5%; height: 17px;">
                <span style="font-size: 8pt;">ID</span>
              </td>
              <td style="width: 5%; height: 17px;">
                <span style="font-size: 8pt;">Versão</span>
              </td>
              <td style="width: 45%; height: 17px;">
                <span style="font-size: 8pt;">Cliente</span>
              </td>
              <td style="width: 45%; height: 17px;">
                <span style="font-size: 8pt;">Nome</span>
              </td>
            </tr>
            <tr style="height: 17px;">
              <td style="width: 5%; height: 17px;">
                <span style="font-size: 8pt;"><%= os.os %></span>
              </td>
              <td style="width: 5%; height: 17px;">
                <span style="font-size: 8pt;"><%= os.versao %></span>
              </td>
              <td style="width: 45%; height: 17px;">
                <span style="font-size: 8pt;"><%= os.cliente.razao %></span>
              </td>
              <td style="width: 45%; height: 17px;">
                <span style="font-size: 8pt;">&nbsp;<%= os.titulo %></span>
              </td>
            </tr>
          </tbody>
        </table>
        <% if (os.expedition) { %>
        <% for(let expedition of os.expedition) { %>
        <table style="width: 100%; border-collapse: collapse; max-width: 600px; margin-left: auto; margin-right: auto;"
          border="0">
          <tbody>
            <tr style="background-color: #bababa;">
              <td style="width: 10%;">
                <span style="font-size: 8pt;">Data</span>
              </td>
              <td style="width: 20%;">
                <span style="font-size: 8pt;">Item</span>
              </td>
              <td style="width: 20%;">
                <span style="font-size: 8pt;">De</span>
              </td>
              <td style="width: 50%;">
                <span style="font-size: 8pt;">Para</span>
              </td>
            </tr>
            <tr>
              <td style="width: 10%;">
                <span style="font-size: 8pt;"><%= expedition.dataEnvio %></span>
                <br>
              </td>
              <td style="width: 20%;">
                <span style="font-size: 8pt;"><%= expedition.item %></span>
                <br>
              </td>
              <td style="width: 20%;">
                <span style="font-size: 8pt;"><%= expedition.de %></span>
                <br>
              </td>
              <td style="width: 50%;">
                <span style="font-size: 8pt;"><%= expedition.para %></span>
                <br>
              </td>
            </tr>
          </tbody>
        </table>
        <hr style="width: 100%; max-width: 600px;">
        <% } %>
        <% } %>
        <br>
        <% } %>
      </td>
      <td style="width: 1.06952%; height: 483px;">&nbsp;</td>
    </tr>
  </tbody>
</table>